<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ohlove 2014</title>

    <!-- Bootstrap -->
    <link href="/media/css/bootstrap.min.css" rel="stylesheet">
    <link href="/media/css/font-awesome.min.css" rel="stylesheet">
    <link href="/media/css/index.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="background-dark">
    <div class="menu" id="theMenu">
        <div class="menu-wrap">
            <a href="/lastest"><h2>OhLove</h2></a>
            <ul>
              <li><a href="#headerwrap" class="smoothScroll">HOME</a></li>
              <li><a href="#about" class="smoothScroll">About</a></li>
            </ul>
        </div>
        <div id="menu-toggle">
            <i class="icon-reorder"></i>
        </div>
    </div>
    <div id="headerwrap">
        <div class="container" style="padding:0;">
           <img src="media/img/index.png">
        </div>
    </div>


    <div id="about">
        <p class="title">About</p>
        <div class="row">
        <div class="col-lg-2"></div>
        <p class="col-lg-8 text">昨夜余于女友家初见其父，饮酒过度，至今夜三更方才初醒，开微信，方惊悉今乃情人节，惊诧之余感未能备礼以慰女友陪伴四载有余，又恰逢年十五于节日相冲，想必未能见其面。寒冬腊月，想起不久又将别离，天各长江两头，不免黯然神伤，遂用余所学之雕虫小技，造一网站于此，每日记录话语于此，女友每日见到，想必日日惊喜，莫不快哉。索性通宵达旦，造就该站，望以此纪念异地之恋情，皓首以盼相聚之。</p>
        <div class="col-lg-2"></div>
        </div>
        <div class="row">
          <a href="/lastest"><botton class="btn btn-primary btn-lg" id="enter">查看之</botton></a>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/media/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/media/js/bootstrap.js"></script>
    <script type="text/javascript" src="/media/js/index.js"></script>
  </body>
</html>